
$sas-primary: (
    50 : #e0eef6,
    100 : #b3d5e8,
    200 : #80b9d9,
    300 : #4d9cc9,
    400 : #2687be,
    500 : #0072b2,
    600 : #006aab,
    700 : #005fa2,
    800 : #005599,
    900 : #00428a,
    A100 : #b6d3ff,
    A200 : #83b5ff,
    A400 : #5096ff,
    A700 : #3687ff,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
    )
);

$sas-accent: (
    50 : #e0ffc6,
    100 : #b7ff7a,
    200 : #99ff42,
    300 : #73f900,
    400 : #65db00,
    500 : #57bc00,
    600 : #499d00,
    700 : #3b7f00,
    800 : #2d6000,
    900 : #1e4200,
    A100 : #dbffbc,
    A200 : #a4ff56,
    A400 : #6fef00,
    A700 : #63d500,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
);

$sas-warn: (
    50 : #f8f1e0,
    100 : #eeddb3,
    200 : #e3c680,
    300 : #d7af4d,
    400 : #cf9e26,
    500 : #c68d00,
    600 : #c08500,
    700 : #b97a00,
    800 : #b17000,
    900 : #a45d00,
    A100 : #ffe7ce,
    A200 : #ffce9b,
    A400 : #ffb468,
    A700 : #ffa84f,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
);

$sas-neutral: (
    50 : #f0f0f0,
    100 : #dadada,
    200 : #c1c1c1,
    300 : #a8a8a8,
    400 : #959595,
    500 : #828282,
    600 : #7a7a7a,
    700 : #6f6f6f,
    800 : #656565,
    900 : #525252,
    A100 : #f8c3c3,
    A200 : #f39595,
    A400 : #ff5757,
    A700 : #ff3d3d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$sas-success: (
    50 : #e0f0e7,
    100 : #b3dbc4,
    200 : #80c39c,
    300 : #4daa74,
    400 : #269857,
    500 : #008639,
    600 : #007e33,
    700 : #00732c,
    800 : #006924,
    900 : #005617,
    A100 : #88ff9c,
    A200 : #55ff72,
    A400 : #22ff48,
    A700 : #08ff33,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$sas-alert: (
    50 : #fce0e0,
    100 : #f8b3b3,
    200 : #f48080,
    300 : #f04d4d,
    400 : #ec2626,
    500 : #e90000,
    600 : #e60000,
    700 : #e30000,
    800 : #df0000,
    900 : #d90000,
    A100 : #ffffff,
    A200 : #ffcece,
    A400 : #ff9b9b,
    A700 : #ff8181,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
